@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
.navbar-container {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    margin: 0 20px 0 20px;
    padding: 20px 10px 20px 10px;
    color: black;
    font-size: 18px;
}