@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.home {
    background-image: url(../src/img/bg-home.jpg);
    height: 100vh;
    background-size: cover;
}

.navbar-container {
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeats;

}

.navbar ul{
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    padding: 20px 10px 20px 10px;
    color: white;
    font-size: 18px;
}